/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Nunitof&display=swapfamily=dongle-regular&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Dongle", sans-serif;
    --secondary-font: "Nunito", cursive;
    --primary-color: #2c2336; /* dark blue */
    --secondary-color: #f79a4d; /* peach */
    --highlight-color: #d4674b; /* orange */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* CSS for Button from Beautiful Buttons */
.button-44 {
    background: #e62143;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    justify-content: center;
    line-height: 33.4929px;
    padding: .8em 1em;
    text-align: center;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    text-underline-offset: 1px;
    transition: all .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    word-break: break-word;
    border: 0;
  }
  
  .button-44:active,
  .button-44:focus {
    border-bottom-style: none;
    border-color: #dadada;
    box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
    outline: 0;
  }
  
  .button-44:hover {
    border-bottom-style: none;
    border-color: #dadada;
  }
  

/* Header */

#header .lead {
    font-family: var(--secondary-font);
}


/* intro video in header */
#intro-vid .intro-vid {
    width: 100%;
    min-height: 500px;
    aspect-ratio: 16 / 9;
}

/* Navbar */

#navbar {
    background-color: var(--secondary-color);
}

/* Global styles */

body {
    font-family: var(--primary-font);
    padding-top: 57.15px; /* pushes top of header down under fixed navbar */
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
padding-top: 4rem; /* prevent navbar overlap */
}

#useful-links-table {

    /* useful links table font size small enough that the table doesn't overflow on xs screens. 
    Size set back to 1rem in a media query for sm screens and up */

    font-size: 0.6rem;
    display: flex;
    align-self; stretched;
}
/* Footer / useful links */

#useful-links {
    background-color: var(--secondary-color);
    color: black;
    padding-bottom: 3rem;
}

#useful-links
 h2 {
    color: black;
}

#useful-links
 .sub-heading-color {
    color: var(--highlight-color);
}

#useful-links i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#useful-links .social-links i {
    color: var(--primary-color);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#useful-links.social-links i:hover {
    color: var(--secondary-color);
}

#useful-links
 .table-bordered * {
    background-color: white;
}

